
:host {
  display: block;
  position: relative;
  z-index: 1;

  &:hover {
    z-index: 10;

    & > img {
      filter: contrast(85%);
      transform: scale(1.2);
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    }

    & > div {
      opacity: 0;
    }
  }

  & > img {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity .5s, filter .3s, transform .2s;
    cursor: pointer;
  }


  & > div {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    display: flex;
    opacity: 1;
    transition: opacity .1s;
    text-shadow: #000000 1px 0 10px;

    & > div {
      display: flex;
      align-items: flex-start;
      margin-left: 5px;
    }

    mat-icon {
      font-size: 16px;
      margin-left: 4px;
    }
  }
}