/* Add application styles & imports to this file! */

$baseColor: #f5deb3;

.bg-color-variant-1 {
  background-color: darken($baseColor, 53);
}
.bg-color-variant-2 {
  background-color: darken($baseColor, 56);
}
.bg-color-variant-3 {
  background-color: darken($baseColor, 59);
}
.bg-color-variant-4 {
  background-color: darken($baseColor, 62);
}
.bg-color-variant-5 {
  background-color: darken($baseColor, 65);
}
.bg-color-variant-6 {
  background-color: darken($baseColor, 68);
}
.bg-color-variant-7 {
  background-color: darken($baseColor, 71);
}
.bg-color-variant-8 {
  background-color: darken($baseColor, 74);
}
.bg-color-variant-9 {
  background-color: darken($baseColor, 77);
}
.bg-color-variant-10 {
  background-color: darken($baseColor, 80);
}